<nav>
  <div class="nav-wrapper yellow darken-4">
    <a href="#" class="brand-logo" id="logo"><h4 class="valign" style="font-family: 'Pacifico', sans-serif;"><%= title %></h4></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">Create a Poll</a></li>
    </ul>
  </div>
</nav>