<!doctype html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/polls" method="post">
      <fieldset>
        <legend>Create a New Poll</legend>
        <input type="text" name="poll[title]" placeholder="Poll Title">
        <input type="text" name="poll[question]" placeholder="What are you asking?">
        <div id="responses"></div>
        <button id="add-response">Add a Response</button>
        <input type="submit" value="Submit">
      </fieldset>
    </form>
    <script src="/jquery.js"></script>
    <script src="/responses.js"></script>

  </body>
</html>