<!doctype html>
<html>
  <head>
    <title>Votestance</title>
  </head>
  <body>
    <h1>Votestance</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js"></script>
  </body>
</html>