<!doctype html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <h1 id="app-title"><%= title %></h1>
    <form id="new-poll-form" action="/polls" method="post">
      <fieldset>
        <legend class="form-heading">Create a New Poll</legend>
        <input required type="text" name="poll[title]" placeholder="Poll Title">
        <input required type="text" name="poll[question]" placeholder="What are you asking?">
        <div id="responses"><input required type="text" name="poll[responses][]" placeholder="Response"></div>
        <button id="add-response">Add a Response</button>
        <button id="submit-poll" type="submit" name="submit">Submit Poll</button>
      </fieldset>
    </form>
    <script src="/jquery.js"></script>
    <script src="/responses.js"></script>

  </body>
</html>